* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 800px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  gap: 1px;
}
.reset {
  margin-bottom: 10px;
}

.square {
  background-color: blue;
  flex-grow: 1;
}
